.nuevo-colaborador-container {
  min-height: 100vh; 
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #f3f4f6; 
}

.nuevo-colaborador-card {
  max-width: 75rem; 
  margin: 0 auto; 
  background-color: #fff; 
  padding: 2rem; 
  border-radius: 0.5rem; 
  box-shadow: 0 4px 6px rgba(0,0,0,0.1); 
  width: 100%;
}

.nuevo-colaborador-title {
  font-size: 1.5rem; 
  font-weight: 700; 
  margin-bottom: 1.5rem; 
  text-align: center;
  color: rgb(238, 114, 3); 
}

.grid-form {
  display: grid;
  grid-template-columns: 1fr; 
  gap: 1.5rem; 
}

@media (min-width: 768px) {
  .grid-form {
    grid-template-columns: repeat(2, 1fr); 
  }
}

.input-group label {
  display: block;
  margin-bottom: 0.25rem; 
  font-weight: 600; 
}

.input-group input {
  border: 1px solid #d1d5db; 
  padding: 0.75rem; 
  width: 100%; 
  border-radius: 0.25rem; 
}

.button-group {
  display: flex;
  gap: 1rem; 
  margin-top: 1.5rem; 
}

.button-full {
  width: 100%;
  padding: 0.75rem; 
  border-radius: 0.25rem;
  font-weight: 600;
  color: white;
}

.button-save {
  background-color: rgb(149, 75, 151); 
}

.button-save:hover {
  background-color: rgb(89, 53, 140); 
}

.button-cancel {
  background-color: rgb(157, 157, 156); 
}

.button-cancel:hover {
  background-color: rgb(100, 99, 99); 
}
